.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    border-radius: 3px;
    transition: all 0.4s;
    font-size: $font-size-m;
    font-family: 'Roboto';
    cursor: pointer;
    border: none;
    letter-spacing: inherit;
    backface-visibility: hidden;

    @include respond(tab-land) {
      padding: 1.5rem 6rem;
    }
  }

  &:hover {
    @include respond(tab-port) {
      transform: none !important;
    }
  }

  &:active,
  &:focus {
    @include respond(tab-port) {
      transform: none !important;
    }
  }

  &--blue {
    color: $white;
    letter-spacing: 0.25rem;
    font-weight: 500;
    font-size: $font-size-s;
    background-image: linear-gradient(
      to right,
      $light-blue 0%,
      $light-blue 50%,
      rgba($light-blue, 0.8) 50%
    );
    background-size: 250%;
    box-shadow: 0 1rem 1rem rgba($black, 0.8);

    @include respond(tab-land) {
      font-size: $font-size-m;
    }

    &:hover {
      background-position: 100%;
      box-shadow: 0 1rem 2rem rgba($black, 0.8);
      transform: scale(1.05) translateY(-4px);
      color: $white;
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(1px);
      box-shadow: 0 1rem 0.75rem rgba($black, 0.8);
      color: $dark-blue !important;
    }

    &--start {
      color: $white;
      font-weight: 500;
      letter-spacing: 0.15rem;
      font-size: $font-size-s;
      padding: 0.5rem 2rem;
      box-shadow: 0 0.75rem 0.5rem rgba($black, 0.8);

      &:hover {
        transform: scale(1.05) translateY(-4px);
        box-shadow: 0 0.75rem 1rem rgba($black, 0.8);
        color: $white;
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 0.75rem 0.3rem rgba($black, 0.8);
        color: $dark-blue !important;
      }

      @include respond(tab-port) {
        font-size: $font-size-m;
        font-weight: 400;
        padding: 1rem 4rem;
      }
    }
  }

  &--close {
    font-weight: 600;
    font-size: $font-size-m;
    padding: 0;
    background-color: transparent;
    color: $light-blue;
    text-align: center;
    box-shadow: none;
    border-radius: 0;

    &:hover {
      transform: translateY(-4px);
      box-shadow: none;
    }

    @include respond(tab-land) {
      font-weight: 500;
      font-size: $font-size-l;
    }
  }

  &--control {
    position: absolute;
    color: $light-blue;
    font-weight: 600;
    font-size: $font-size-l;
    background-image: linear-gradient(
      to right,
      $white 0%,
      $white 50%,
      rgba($white, 0.8) 50%
    );
    background-size: 250%;
    height: 7rem;
    padding: 0 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond(phone) {
      padding: 0 2.5rem;
      height: 5rem;
    }

    &:active,
    &:focus {
      outline: none;
      color: $light-blue !important;
      background-image: linear-gradient(
        to right,
        $white 0%,
        $white 50%,
        rgba($white, 0.8) 50%
      ) !important;
      background-size: 250%;
      transform: translateY(-50%);
    }

    &:hover {
      color: $light-blue;
      background-position: 100%;
    }

    &-prev {
      top: 50%;
      left: 10rem;
      transform: translateY(-50%);

      @include respond(tab-port) {
        left: 2rem;
      }

      @include respond(phone) {
        left: 1rem;
      }
    }

    &-next,
    &-end {
      top: 50%;
      right: 10rem;
      transform: translateY(-50%);

      @include respond(tab-port) {
        right: 2rem;
      }

      @include respond(phone) {
        right: 1rem;
      }
    }

    &-end {
      font-size: $font-size-m;
      font-weight: 500;
      background-image: linear-gradient(
        to right,
        $white 0%,
        $white 50%,
        rgba(red, 0.8) 50%
      );
      color: $light-blue;
      background-size: 250%;

      &:active,
      &:focus {
        outline: none;
        color: $white !important;
        background-image: linear-gradient(
          to right,
          $white 0%,
          $white 50%,
          rgba(red, 0.8) 50%
        ) !important;
        background-size: 250%;
        transform: translateY(-50%);
      }

      &:hover {
        background-position: 100%;
        color: $white;
      }
    }
  }

  &--home {
    z-index: 2137;
    position: fixed;
    top: 4rem;
    right: 4rem;
    color: $light-blue;
    font-size: $font-size-m;
    padding: 1rem;
    background-color: $white;
    border-radius: 50%;
    border: 0.5rem solid $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond(phone) {
      top: 2rem;
    }

    &:hover {
      transform: translateY(-8px);
      box-shadow: none;
      background-color: $white;
      border-radius: 50%;
      border: 0.5rem solid $light-blue;
      padding: 1rem;
    }

    &:active,
    &:focus {
      transform: translateY(0);
      box-shadow: none;
      color: $light-blue;
      background-color: $white;
      border-radius: 50%;
      border: 0.5rem solid $light-blue;
      padding: 1rem;
    }
  }
}
