.quiz-page {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  padding: 5rem;
  background-color: $dark-blue;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 5rem 5rem 5rem;
  }

  @include respond(phone) {
    height: initial;
    min-height: -webkit-fill-available;
    padding: 10rem 5rem 5rem 5rem;
  }
}
