.quiz-page {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  padding: 5rem;
  background-color: $dark-blue;
  position: relative;

  @include respond(tab-port) {
    height: 100vh;
  }

  @include respond(phone) {
    min-height: 100vh;
  }
}
