.result-page {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 5rem;
  background-color: $dark-blue;
  position: relative;

  @include respond(tab-port) {
    height: 100vh;
  }

  @include respond(phone) {
    height: -webkit-fill-available;
  }

  &__heading {
    margin: 0 auto;
    width: 30%;

    @include respond(tab-land) {
      width: 50%;
    }
  }
}
