.select-page {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  padding: 5rem;
  background-color: $dark-blue;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem;
  }

  @include respond(phone) {
    padding: 10rem 5rem 5rem 5rem;
  }
}
