.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
  display: block;
  backface-visibility: hidden;

  &__main {
    text-align: center;
    line-height: normal;
    color: $light-blue;

    &-letter {
      display: inline-block;
      font-size: $font-size-xl;
      font-weight: 400;
      text-align: center;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }

  &__sub {
    text-align: center;
    line-height: normal;
    color: $white;

    &-letter {
      display: inline-block;
      font-size: $font-size-xs;
      font-weight: 700;
      text-align: center;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}

.heading-secondary {
  margin-bottom: 6rem;
  padding: 1rem 5rem;
  display: inline-block;
  backface-visibility: hidden;
  text-align: center;

  &__main {
    color: $light-blue;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    font-size: $font-size-l;
    font-weight: 400;
    letter-spacing: 0.5rem;
    transition: all 0.2s;
    margin-bottom: 1rem;
  }

  &__sub {
    text-align: center;
    line-height: normal;
    font-size: $font-size-s;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: $white;
  }
}

.heading-tertiary {
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  font-size: $font-size-m;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: $white;
  margin: 0;
}
